# Data Preparation

In this notebook will contain all the process regarding data preparation. Starting transforming the data to pandas dataframes and then profiling the data to have a preview of the problem domain. Then I will start doing some correlations among the datasets and visualize some characteristics before proceeding with the feature engineering. In adition, we will add some moving averages and other trading technical indicators. At the end, we might consider a PCA analysis to reduce the features for better analysis.

## Import Data and Transforme to Consistent Pandas Data Frames

In [1]:
import numpy as np
import pandas as pd
import pickle
from datetime import datetime
from collections import namedtuple
from IPython.display import display, HTML
import functools
%matplotlib inline
# Optional for interactive
# %matplotlib notebook (watch video for full details)

In [2]:
# Accounting format for floats for pandas.

pd.options.display.float_format = '{:,.2f}'.format

The raw files are in the folder raw_data. We have a total of 8 files for the exchanges buda(Peru, Colombia and Chile) and mercadobitcoin (Brazil). In the following cell I am going to extract the data to pandas dataframes

In [3]:
def dateparse_buda (time_in_secs): 
    return datetime.fromtimestamp(float(time_in_secs)/1000)

In [4]:
df_btc_clp=pd.read_csv('raw_data/buda_btc-clp_20161101_20180312.csv',index_col='datetime',parse_dates=True, date_parser=dateparse_buda)
df_btc_cop=pd.read_csv('raw_data/buda_btc-cop_20161101_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_btc_pen=pd.read_csv('raw_data/buda_btc-pen_20161101_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_btc=pd.read_csv('raw_data/buda_eth-btc_20170701_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_clp=pd.read_csv('raw_data/buda_eth-clp_20170501_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_cop=pd.read_csv('raw_data/buda_eth-cop_20170601_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_pen=pd.read_csv('raw_data/buda_eth-pen_20170601_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_btc_brl=pd.read_csv('raw_data/mercadobitcoin_BTC_20130612_20180312.csv',index_col='date',parse_dates=True)
Dataset=namedtuple('Dataset','exchange df')

datasets={'btc_clp':Dataset('Buda',df_btc_clp),
          'btc_cop':Dataset('Buda',df_btc_cop),
          'btc_pen':Dataset('Buda',df_btc_pen),
          'eth_btc':Dataset('Buda',df_eth_btc),
          'eth_clp':Dataset('Buda',df_eth_clp),
          'eth_cop':Dataset('Buda',df_eth_cop),
          'eth_pen':Dataset('Buda',df_eth_pen),
          'btc_brl':Dataset('MercadoBitcoin',df_btc_brl)}

In [5]:
def all_datasets(func,datasets ):
    for key,dataset in datasets.items():
        display(HTML('<h3>'+key+'</h3>'))
        print(func.__name__)
        datasets[key]=func(dataset)

In [6]:
def rename_mercado_bitcoin(dataset):
    
    if dataset.exchange=='MercadoBitcoin': 
        columns_standard={'opening':'open'
                          , 'closing':'close'
                          , 'highest':'high'
                          , 'lowest':'low'}
        dataset.df.rename(columns=columns_standard,inplace=True)
        dataset.df.index.rename('datetime',inplace=True)
    
    return dataset

   
        
all_datasets(rename_mercado_bitcoin,datasets)

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

For the exchange buda, there are multiple entries for each day. Therefore it is necesary to resample the data for each day to have a consistant information vs mercado bitcoin.

In [7]:
df_btc_cop.resample(rule='D').count().tail(50)
df_btc_cop['2018-03-11']

,open,high,low,close,volume
datetime,,,,,
2018-03-11 05:00:00,"24,300,700.00","25,499,990.00","24,300,700.00","24,300,707.00",0.36
2018-03-11 13:00:00,"25,499,987.00","25,796,997.00","24,900,001.00","25,796,997.00",0.21
2018-03-11 21:00:00,"25,400,000.00","25,400,000.00","25,400,000.00","25,400,000.00",0.05

In [8]:
def first_entry(entry):
    if entry.size==0:
        return None 
    return entry[0]
def last_entry(entry):
    if entry.size==0:
        return None 
    return entry[-1]

In [9]:
def fix_daily(dataset):
    if dataset.exchange=='Buda':
        open_series=dataset.df['open'].resample(rule='D').apply(first_entry)
        close_series=dataset.df['close'].resample(rule='D').apply(last_entry)
        high_series=dataset.df['high'].resample(rule='D').max()
        low_series=dataset.df['low'].resample(rule='D').min()
        volume_series=dataset.df['volume'].resample(rule='D').sum()
        dataframe_daily=pd.DataFrame(open_series)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(close_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(high_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(low_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(volume_series),left_index=True,right_index=True)
        dataset=Dataset('Buda',dataframe_daily )
    return dataset

In [10]:
all_datasets(fix_daily,datasets)

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

### Fill Missing Values

For some days there are missing values therefore we are going to apply the forward fill method of pandas to fill the closing price. The open, low and high will be assigned to the close value of the next prevoius day with information available. For the volume it will be set as 0.

In [11]:

datasets['btc_cop'].df.head(10)

                   open        close         high          low  volume
datetime
2016-10-31 2,099,950.00 2,100,000.00 2,100,000.00 2,099,950.00    2.28
2016-11-01 2,115,664.74 2,100,541.00 2,115,664.74 2,100,541.00    0.54
2016-11-02 2,200,000.00 2,200,000.00 2,200,000.00 2,200,000.00    0.86
2016-11-03 2,250,000.00 2,038,008.07 2,250,000.00 2,026,909.28    4.66
2016-11-04 2,173,361.50 2,192,224.31 2,192,224.31 2,001,026.82    2.76
2016-11-05          nan          nan          nan          nan     nan
2016-11-06          nan          nan          nan          nan     nan
2016-11-07          nan          nan          nan          nan     nan
2016-11-08 2,040,100.23 2,030,280.91 2,041,656.90 2,021,216.07    3.52
2016-11-09 2,211,234.00 2,210,750.00 2,231,104.84 2,210,000.00    2.53

In [12]:
def fill_nulls(dataset):
    dataset.df['close'].fillna(method='ffill', inplace=True)
    dataset.df['close'].fillna(method='bfill', inplace=True)
    dataset.df['open'].fillna(dataset.df['close'], inplace=True)
    dataset.df['high'].fillna(dataset.df['close'], inplace=True)
    dataset.df['low'].fillna(dataset.df['close'], inplace=True)
    dataset.df['volume'].fillna(0, inplace=True)
    return dataset

all_datasets(fill_nulls,datasets)

datasets['btc_cop'].df.head(10)

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

                   open        close         high          low  volume
datetime
2016-10-31 2,099,950.00 2,100,000.00 2,100,000.00 2,099,950.00    2.28
2016-11-01 2,115,664.74 2,100,541.00 2,115,664.74 2,100,541.00    0.54
2016-11-02 2,200,000.00 2,200,000.00 2,200,000.00 2,200,000.00    0.86
2016-11-03 2,250,000.00 2,038,008.07 2,250,000.00 2,026,909.28    4.66
2016-11-04 2,173,361.50 2,192,224.31 2,192,224.31 2,001,026.82    2.76
2016-11-05 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-06 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-07 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-08 2,040,100.23 2,030,280.91 2,041,656.90 2,021,216.07    3.52
2016-11-09 2,211,234.00 2,210,750.00 2,231,104.84 2,210,000.00    2.53

### Profiling Data

Describe each dataset of the raw data.

In [13]:
#Index(['lowest', 'volume', 'amount', 'avg_price', 'opening', 'closing',
#       'highest', 'quantity'],
#      dtype='object')
def describe_dataset( dataset):
    display(HTML('<H1>Range Dates</H1>'))
    display(HTML('<H3>Min: '+dataset.df.index.min().strftime('%Y-%m-%d')+'</H3>'))
    display(HTML('<H3>Min: '+dataset.df.index.max().strftime('%Y-%m-%d')+'</H3>'))
    display(HTML('<H1>Min</H1>'))
    print(dataset.df.idxmin())
    display(HTML('<H1>Max</H1>'))
    print(dataset.df.idxmax())    
    display(HTML(dataset.df.describe().to_html()))
    return  dataset 
all_datasets(describe_dataset,datasets)

describe_dataset

open     2016-11-04
close    2016-11-12
high     2016-11-07
low      2016-11-03
volume   2016-12-31
dtype: datetime64[ns]

open     2017-12-18
close    2017-12-17
high     2017-12-07
low      2017-12-17
volume   2017-03-10
dtype: datetime64[ns]

describe_dataset

open     2016-11-08
close    2016-11-08
high     2016-11-08
low      2017-07-12
volume   2016-11-05
dtype: datetime64[ns]

open     2017-12-17
close    2017-12-16
high     2017-05-05
low      2017-12-16
volume   2017-10-10
dtype: datetime64[ns]

describe_dataset

open     2017-09-30
close    2017-09-29
high     2017-09-30
low      2017-10-24
volume   2017-08-15
dtype: datetime64[ns]

open     2017-12-07
close    2017-12-06
high     2017-12-06
low      2017-12-24
volume   2018-02-05
dtype: datetime64[ns]

describe_dataset

open     2017-12-07
close    2017-11-27
high     2017-11-30
low      2017-11-06
volume   2017-07-23
dtype: datetime64[ns]

open     2018-02-01
close    2018-01-31
high     2017-12-21
low      2018-01-31
volume   2017-12-07
dtype: datetime64[ns]

describe_dataset

open     2017-07-16
close    2017-07-15
high     2017-07-16
low      2017-07-16
volume   2018-02-28
dtype: datetime64[ns]

open     2018-01-15
close    2018-01-14
high     2018-01-10
low      2018-01-14
volume   2017-12-13
dtype: datetime64[ns]

describe_dataset

open     2017-09-15
close    2017-09-25
high     2017-09-14
low      2017-11-02
volume   2017-09-30
dtype: datetime64[ns]

open     2018-01-15
close    2018-01-13
high     2018-01-10
low      2018-01-14
volume   2018-01-17
dtype: datetime64[ns]

describe_dataset

open     2017-10-24
close    2017-11-06
high     2017-09-14
low      2017-10-24
volume   2017-08-19
dtype: datetime64[ns]

open     2017-12-23
close    2017-12-15
high     2018-01-21
low      2017-12-23
volume   2018-02-15
dtype: datetime64[ns]

describe_dataset

low         2018-02-16
volume      2013-08-18
amount      2013-08-18
avg_price   2013-07-09
open        2013-07-04
close       2013-07-03
high        2013-07-10
quantity    2013-08-18
dtype: datetime64[ns]

low         2017-12-18
volume      2017-12-07
amount      2017-12-07
avg_price   2017-12-18
open        2017-12-19
close       2017-12-18
high        2017-12-17
quantity    2017-11-29
dtype: datetime64[ns]

### Adding Technical Indicators on the Closing Price

Add technical Indicators on the closing prices. Bollinger Bands, Exponential Moving Average (EMA), Moving Average Converge Divergence (MACD), Heikin-Ashi and Daily Returns.

In [14]:
def adding_technical_indicators(dataset):
    dataset.df['EWMA26']=dataset.df['close'].ewm(span=26).mean()
    dataset.df['EWMA12']=dataset.df['close'].ewm(span=12).mean()
    dataset.df['EWMA9']=dataset.df['close'].ewm(span=9).mean()
    dataset.df['MACD']=dataset.df['EWMA26']-dataset.df['EWMA12']
    dataset.df['Returns']=dataset.df['close'].pct_change(1)
    dataset.df['Bollinger Upper']=dataset.df['EWMA12']+2*dataset.df['close'].ewm(span=12).std()
    dataset.df['Bollinger Lower']=dataset.df['EWMA12']-2*dataset.df['close'].ewm(span=12).std()
    dataset.df['Heiking_Close']=(dataset.df['close']+dataset.df['high']+dataset.df['low']+dataset.df['open'])/4
    dataset.df['Heiking High']=dataset.df[['close','high','open']].max(axis=1)
    dataset.df['Heiking Low']=dataset.df[['close','low','open']].min(axis=1)
    dataset.df['Heiking Open']=(dataset.df['close'].shift(1)+dataset.df['open'].shift(1))/2
    return dataset

all_datasets(adding_technical_indicators,datasets)
datasets['btc_cop'].df.head(10)

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

,open,close,high,low,volume,EWMA26,EWMA12,EWMA9,MACD,Returns,Bollinger Upper,Bollinger Lower,Heiking_Close,Heiking High,Heiking Low,Heiking Open
datetime,,,,,,,,,,,,,,,,
2016-10-31,"2,099,950.00","2,100,000.00","2,100,000.00","2,099,950.00",2.28,"2,100,000.00","2,100,000.00","2,100,000.00",0.00,nan,nan,nan,"2,099,975.00","2,100,000.00","2,099,950.00",nan
2016-11-01,"2,115,664.74","2,100,541.00","2,115,664.74","2,100,541.00",0.54,"2,100,280.90","2,100,293.04","2,100,300.56",-12.14,0.00,"2,101,058.13","2,099,527.95","2,108,102.87","2,115,664.74","2,100,541.00","2,099,975.00"
2016-11-02,"2,200,000.00","2,200,000.00","2,200,000.00","2,200,000.00",0.86,"2,136,109.01","2,139,208.69","2,141,160.98","-3,099.68",0.05,"2,258,904.21","2,019,513.17","2,200,000.00","2,200,000.00","2,200,000.00","2,108,102.87"
2016-11-03,"2,250,000.00","2,038,008.07","2,250,000.00","2,026,909.28",4.66,"2,108,684.27","2,107,263.61","2,106,217.58","1,420.66",-0.07,"2,251,040.87","1,963,486.35","2,141,229.34","2,250,000.00","2,026,909.28","2,200,000.00"
2016-11-04,"2,173,361.50","2,192,224.31","2,192,224.31","2,001,026.82",2.76,"2,128,057.55","2,130,347.13","2,131,802.64","-2,289.58",0.08,"2,276,593.20","1,984,101.06","2,139,709.24","2,192,224.31","2,001,026.82","2,144,004.04"
2016-11-05,"2,192,224.31","2,192,224.31","2,192,224.31","2,192,224.31",0.00,"2,140,909.64","2,145,386.54","2,148,180.27","-4,476.90",0.00,"2,283,273.96","2,007,499.12","2,192,224.31","2,192,224.31","2,192,224.31","2,182,792.91"
2016-11-06,"2,192,224.31","2,192,224.31","2,192,224.31","2,192,224.31",0.00,"2,150,035.69","2,155,838.22","2,159,326.64","-5,802.53",0.00,"2,283,114.71","2,028,561.73","2,192,224.31","2,192,224.31","2,192,224.31","2,192,224.31"
2016-11-07,"2,192,224.31","2,192,224.31","2,192,224.31","2,192,224.31",0.00,"2,156,833.32","2,163,431.44","2,167,232.57","-6,598.12",0.00,"2,280,070.30","2,046,792.57","2,192,224.31","2,192,224.31","2,192,224.31","2,192,224.31"
2016-11-08,"2,040,100.23","2,030,280.91","2,041,656.90","2,021,216.07",3.52,"2,138,075.48","2,137,089.53","2,135,596.06",985.95,-0.07,"2,291,089.84","1,983,089.21","2,033,313.53","2,041,656.90","2,021,216.07","2,192,224.31"
2016-11-09,"2,211,234.00","2,210,750.00","2,231,104.84","2,210,000.00",2.53,"2,148,103.85","2,151,048.16","2,152,434.90","-2,944.30",0.09,"2,302,113.17","1,999,983.15","2,215,772.21","2,231,104.84","2,210,000.00","2,035,190.57"

In [15]:
datasets['btc_brl'].df.head(10)

,low,volume,amount,avg_price,open,close,high,quantity,EWMA26,EWMA12,EWMA9,MACD,Returns,Bollinger Upper,Bollinger Lower,Heiking_Close,Heiking High,Heiking Low,Heiking Open
datetime,,,,,,,,,,,,,,,,,,,
2015-08-26,832.50,"90,195.44",305,871.49,851.44,870.00,900.00,103.50,870.00,870.00,870.00,0.00,nan,nan,nan,863.48,900.00,832.50,nan
2013-06-12,249.00,"2,799.69",11,256.45,249.00,265.00,275.00,10.92,555.87,542.29,533.89,13.57,-0.70,"1,397.89",-313.31,259.50,275.00,249.00,860.72
2013-06-13,259.00,"2,830.41",16,266.40,265.00,269.00,269.00,10.62,452.80,435.63,425.33,17.17,0.02,"1,101.33",-230.07,265.50,269.00,259.00,257.00
2013-06-14,245.00,"8,694.71",35,255.42,267.00,250.00,268.00,34.04,396.10,377.03,365.93,19.07,-0.07,934.12,-180.06,257.50,268.00,245.00,267.00
2013-06-15,246.01,"4,481.41",8,256.87,250.00,246.01,259.99,17.45,361.30,341.43,330.26,19.86,-0.02,820.61,-137.74,250.50,259.99,246.01,258.50
2013-06-16,246.01,427.69,14,256.22,246.01,252.00,257.43,1.67,339.41,319.70,309.05,19.71,0.02,737.31,-97.92,250.36,257.43,246.01,248.00
2013-06-17,252.00,"3,628.96",12,254.52,257.43,254.96,257.43,14.26,324.39,305.25,295.36,19.14,0.01,673.31,-62.81,255.45,257.43,252.00,249.00
2013-06-18,246.11,"7,498.59",22,256.79,254.95,263.00,263.00,29.20,314.50,296.43,287.58,18.06,0.03,622.95,-30.08,256.76,263.00,246.11,256.19
2013-06-19,251.01,"1,137.09",18,262.96,251.01,260.00,264.98,4.32,306.42,289.23,281.21,17.19,-0.01,581.35,-2.89,256.75,264.98,251.01,258.98
2013-06-20,260.00,"7,253.13",28,267.51,263.00,269.00,269.00,27.11,301.26,285.39,278.47,15.86,0.03,547.57,23.21,265.25,269.00,260.00,255.50

### Save Data for Plotting

Save the data for plotting and profile the information graphically.

In [16]:
def save_datasets(datasets,filename):
    with open(filename, 'wb') as output:  # Overwrites any existing file.
        pickle.dump(datasets, output, pickle.HIGHEST_PROTOCOL)
    
save_datasets(datasets, 'data_for_plotting/datasetsplotting.pkl')