# Data Preparation

In this notebook will contain all the process regarding data preparation. Starting transforming the data to pandas dataframes and then profiling the data to have a preview of the problem domain. Then I will start doing some correlations among the datasets and visualize some characteristics before proceeding with the feature engineering. In adition, we will add some moving averages and other trading technical indicators. At the end, we might consider a PCA analysis to reduce the features for better analysis.

## Import Data and Transforme to Consistent Pandas Data Frames

In [1]:
import numpy as np
import pandas as pd
import pickle
from datetime import datetime
from collections import namedtuple
from IPython.display import display, HTML
import functools
%matplotlib inline
# Optional for interactive
# %matplotlib notebook (watch video for full details)

In [2]:
# Accounting format for floats for pandas.

pd.options.display.float_format = '{:,.2f}'.format

The raw files are in the folder raw_data. We have a total of 8 files for the exchanges buda(Peru, Colombia and Chile) and mercadobitcoin (Brazil). In the following cell I am going to extract the data to pandas dataframes

In [3]:
def dateparse_buda (time_in_secs): 
    return datetime.fromtimestamp(float(time_in_secs)/1000)

In [4]:
df_btc_clp=pd.read_csv('raw_data/buda_btc-clp_20161101_20180312.csv',index_col='datetime',parse_dates=True, date_parser=dateparse_buda)
df_btc_cop=pd.read_csv('raw_data/buda_btc-cop_20161101_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_btc_pen=pd.read_csv('raw_data/buda_btc-pen_20161101_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_btc=pd.read_csv('raw_data/buda_eth-btc_20170701_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_clp=pd.read_csv('raw_data/buda_eth-clp_20170501_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_cop=pd.read_csv('raw_data/buda_eth-cop_20170601_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_eth_pen=pd.read_csv('raw_data/buda_eth-pen_20170601_20180312.csv',index_col='datetime',parse_dates=True,date_parser=dateparse_buda)
df_btc_brl=pd.read_csv('raw_data/mercadobitcoin_BTC_20130612_20180312.csv',index_col='date',parse_dates=True)
Dataset=namedtuple('Dataset','exchange df')

datasets={'btc_clp':Dataset('Buda',df_btc_clp.sort_index()),
          'btc_cop':Dataset('Buda',df_btc_cop.sort_index()),
          'btc_pen':Dataset('Buda',df_btc_pen.sort_index()),
          'eth_btc':Dataset('Buda',df_eth_btc.sort_index()),
          'eth_clp':Dataset('Buda',df_eth_clp.sort_index()),
          'eth_cop':Dataset('Buda',df_eth_cop.sort_index()),
          'eth_pen':Dataset('Buda',df_eth_pen.sort_index()),
          'btc_brl':Dataset('MercadoBitcoin',df_btc_brl.sort_index())}
datasets['btc_brl'].df.head(10)

,lowest,volume,amount,avg_price,opening,closing,highest,quantity
date,,,,,,,,
2013-06-12,249.00,"2,799.69",11,256.45,249.00,265.00,275.00,10.92
2013-06-13,259.00,"2,830.41",16,266.40,265.00,269.00,269.00,10.62
2013-06-14,245.00,"8,694.71",35,255.42,267.00,250.00,268.00,34.04
2013-06-15,246.01,"4,481.41",8,256.87,250.00,246.01,259.99,17.45
2013-06-16,246.01,427.69,14,256.22,246.01,252.00,257.43,1.67
2013-06-17,252.00,"3,628.96",12,254.52,257.43,254.96,257.43,14.26
2013-06-18,246.11,"7,498.59",22,256.79,254.95,263.00,263.00,29.20
2013-06-19,251.01,"1,137.09",18,262.96,251.01,260.00,264.98,4.32
2013-06-20,260.00,"7,253.13",28,267.51,263.00,269.00,269.00,27.11
2013-06-21,250.22,"4,652.80",25,260.96,269.00,268.00,269.00,17.83

In [5]:
def all_datasets(func,datasets ):
    for key,dataset in datasets.items():
        display(HTML('<h3>'+key+'</h3>'))
        print(func.__name__)
        datasets[key]=func(dataset)

def copy_all_datasets(datasets):
    new_dataset={}
    for key,dataset in datasets.items():
        new_dataset[key]=Dataset(dataset.exchange,dataset.df.copy())
    return  new_dataset

In [6]:
def rename_mercado_bitcoin(dataset):
    
    if dataset.exchange=='MercadoBitcoin': 
        columns_standard={'opening':'open'
                          , 'closing':'close'
                          , 'highest':'high'
                          , 'lowest':'low'}
        dataset.df.rename(columns=columns_standard,inplace=True)
        dataset.df.index.rename('datetime',inplace=True)
    
    return dataset

   
        
all_datasets(rename_mercado_bitcoin,datasets)

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

rename_mercado_bitcoin

For the exchange buda, there are multiple entries for each day. Therefore it is necesary to resample the data for each day to have a consistant information vs mercado bitcoin.

In [7]:
df_btc_cop.resample(rule='D').count().tail(50)
df_btc_cop['2018-03-11']

,open,high,low,close,volume
datetime,,,,,
2018-03-11 05:00:00,"24,300,700.00","25,499,990.00","24,300,700.00","24,300,707.00",0.36
2018-03-11 13:00:00,"25,499,987.00","25,796,997.00","24,900,001.00","25,796,997.00",0.21
2018-03-11 21:00:00,"25,400,000.00","25,400,000.00","25,400,000.00","25,400,000.00",0.05

In [8]:
def first_entry(entry):
    if entry.size==0:
        return None 
    return entry[0]
def last_entry(entry):
    if entry.size==0:
        return None 
    return entry[-1]

In [9]:
def fix_daily(dataset):
    if dataset.exchange=='Buda':
        open_series=dataset.df['open'].resample(rule='D').apply(first_entry)
        close_series=dataset.df['close'].resample(rule='D').apply(last_entry)
        high_series=dataset.df['high'].resample(rule='D').max()
        low_series=dataset.df['low'].resample(rule='D').min()
        volume_series=dataset.df['volume'].resample(rule='D').sum()
        dataframe_daily=pd.DataFrame(open_series)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(close_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(high_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(low_series),left_index=True,right_index=True)
        dataframe_daily=dataframe_daily.merge(pd.DataFrame(volume_series),left_index=True,right_index=True)
        dataset=Dataset('Buda',dataframe_daily )
    return dataset

In [10]:
all_datasets(fix_daily,datasets)

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

fix_daily

### Fill Missing Values

For some days there are missing values therefore we are going to apply the forward fill method of pandas to fill the closing price. The open, low and high will be assigned to the close value of the next prevoius day with information available. For the volume it will be set as 0.

In [11]:

datasets['btc_cop'].df.head(10)

                   open        close         high          low  volume
datetime
2016-10-31 2,099,950.00 2,100,000.00 2,100,000.00 2,099,950.00    2.28
2016-11-01 2,115,664.74 2,100,541.00 2,115,664.74 2,100,541.00    0.54
2016-11-02 2,200,000.00 2,200,000.00 2,200,000.00 2,200,000.00    0.86
2016-11-03 2,250,000.00 2,038,008.07 2,250,000.00 2,026,909.28    4.66
2016-11-04 2,173,361.50 2,192,224.31 2,192,224.31 2,001,026.82    2.76
2016-11-05          nan          nan          nan          nan     nan
2016-11-06          nan          nan          nan          nan     nan
2016-11-07          nan          nan          nan          nan     nan
2016-11-08 2,040,100.23 2,030,280.91 2,041,656.90 2,021,216.07    3.52
2016-11-09 2,211,234.00 2,210,750.00 2,231,104.84 2,210,000.00    2.53

In [12]:
def fill_nulls(dataset):
    dataset.df['close'].fillna(method='ffill', inplace=True)
    dataset.df['close'].fillna(method='bfill', inplace=True)
    dataset.df['open'].fillna(dataset.df['close'], inplace=True)
    dataset.df['high'].fillna(dataset.df['close'], inplace=True)
    dataset.df['low'].fillna(dataset.df['close'], inplace=True)
    dataset.df['volume'].fillna(0, inplace=True)
    return dataset

all_datasets(fill_nulls,datasets)

datasets['btc_cop'].df.head(10)

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

fill_nulls

                   open        close         high          low  volume
datetime
2016-10-31 2,099,950.00 2,100,000.00 2,100,000.00 2,099,950.00    2.28
2016-11-01 2,115,664.74 2,100,541.00 2,115,664.74 2,100,541.00    0.54
2016-11-02 2,200,000.00 2,200,000.00 2,200,000.00 2,200,000.00    0.86
2016-11-03 2,250,000.00 2,038,008.07 2,250,000.00 2,026,909.28    4.66
2016-11-04 2,173,361.50 2,192,224.31 2,192,224.31 2,001,026.82    2.76
2016-11-05 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-06 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-07 2,192,224.31 2,192,224.31 2,192,224.31 2,192,224.31    0.00
2016-11-08 2,040,100.23 2,030,280.91 2,041,656.90 2,021,216.07    3.52
2016-11-09 2,211,234.00 2,210,750.00 2,231,104.84 2,210,000.00    2.53

### Profiling Data

Describe each dataset of the raw data.

In [13]:
#Index(['lowest', 'volume', 'amount', 'avg_price', 'opening', 'closing',
#       'highest', 'quantity'],
#      dtype='object')
def describe_dataset( dataset):
    display(HTML('<H1>Range Dates</H1>'))
    display(HTML('<H3>Min: '+dataset.df.index.min().strftime('%Y-%m-%d')+'</H3>'))
    display(HTML('<H3>Min: '+dataset.df.index.max().strftime('%Y-%m-%d')+'</H3>'))
    display(HTML('<H1>Min</H1>'))
    print(dataset.df.idxmin())
    display(HTML('<H1>Max</H1>'))
    print(dataset.df.idxmax())    
    display(HTML(dataset.df.describe().to_html()))
    return  dataset 
all_datasets(describe_dataset,datasets)

describe_dataset

open     2016-11-04
close    2016-11-12
high     2016-11-07
low      2016-11-03
volume   2016-12-31
dtype: datetime64[ns]

open     2017-12-18
close    2017-12-17
high     2017-12-07
low      2017-12-17
volume   2017-03-10
dtype: datetime64[ns]

describe_dataset

open     2016-11-08
close    2016-11-08
high     2016-11-08
low      2017-07-12
volume   2016-11-05
dtype: datetime64[ns]

open     2017-12-17
close    2017-12-16
high     2017-05-05
low      2017-12-16
volume   2017-10-10
dtype: datetime64[ns]

describe_dataset

open     2017-09-30
close    2017-09-29
high     2017-09-30
low      2017-10-24
volume   2017-08-15
dtype: datetime64[ns]

open     2017-12-07
close    2017-12-06
high     2017-12-06
low      2017-12-24
volume   2018-02-05
dtype: datetime64[ns]

describe_dataset

open     2017-12-07
close    2017-11-27
high     2017-11-30
low      2017-11-06
volume   2017-07-23
dtype: datetime64[ns]

open     2018-02-01
close    2018-01-31
high     2017-12-21
low      2018-01-31
volume   2017-12-07
dtype: datetime64[ns]

describe_dataset

open     2017-07-16
close    2017-07-15
high     2017-07-16
low      2017-07-16
volume   2018-02-28
dtype: datetime64[ns]

open     2018-01-15
close    2018-01-14
high     2018-01-10
low      2018-01-14
volume   2017-12-13
dtype: datetime64[ns]

describe_dataset

open     2017-09-15
close    2017-09-25
high     2017-09-14
low      2017-11-02
volume   2017-09-30
dtype: datetime64[ns]

open     2018-01-15
close    2018-01-13
high     2018-01-10
low      2018-01-14
volume   2018-01-17
dtype: datetime64[ns]

describe_dataset

open     2017-10-24
close    2017-11-06
high     2017-09-14
low      2017-10-24
volume   2017-08-19
dtype: datetime64[ns]

open     2017-12-23
close    2017-12-15
high     2018-01-21
low      2017-12-23
volume   2018-02-15
dtype: datetime64[ns]

describe_dataset

low         2018-02-16
volume      2013-08-18
amount      2013-08-18
avg_price   2013-07-09
open        2013-07-04
close       2013-07-03
high        2013-07-10
quantity    2013-08-18
dtype: datetime64[ns]

low         2017-12-18
volume      2017-12-07
amount      2017-12-07
avg_price   2017-12-18
open        2017-12-19
close       2017-12-18
high        2017-12-17
quantity    2017-11-29
dtype: datetime64[ns]

### Adding Technical Indicators on the Closing Price

Add technical Indicators on the closing prices. Bollinger Bands®, Exponential Moving Average (EMA), Moving Average Converge Divergence (MACD), Heikin-Ashi and Daily Returns.

In [14]:
def adding_technical_indicators(dataset):
    dataset.df['EWMA26']=dataset.df['close'].ewm(span=26).mean()
    dataset.df['EWMA12']=dataset.df['close'].ewm(span=12).mean()
    dataset.df['EWMA9']=dataset.df['close'].ewm(span=9).mean()
    dataset.df['MACD']=dataset.df['EWMA26']-dataset.df['EWMA12']
    dataset.df['Returns']=dataset.df['close'].pct_change(1)
    dataset.df['log_return']=np.log(dataset.df['close']/dataset.df['close'].shift(1))
    dataset.df['Bollinger Upper']=dataset.df['EWMA12']+2*dataset.df['close'].ewm(span=12).std()
    dataset.df['Bollinger Lower']=dataset.df['EWMA12']-2*dataset.df['close'].ewm(span=12).std()
    dataset.df['Heiking_Close']=(dataset.df['close']+dataset.df['high']+dataset.df['low']+dataset.df['open'])/4
    dataset.df['Heiking High']=dataset.df[['close','high','open']].max(axis=1)
    dataset.df['Heiking Low']=dataset.df[['close','low','open']].min(axis=1)
    dataset.df['Heiking Open']=(dataset.df['close'].shift(1)+dataset.df['open'].shift(1))/2
    dataset.df['log_MACD']=np.log(dataset.df['EWMA26']/dataset.df['EWMA12'])
    dataset.df['Variance12']=dataset.df['close'].ewm(span=12).std()
    return dataset
 
all_datasets(adding_technical_indicators,datasets)
# datasets['btc_cop'].df.head(10)

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

adding_technical_indicators

In [15]:
all_datasets(describe_dataset,datasets)

describe_dataset

open              2016-11-04
close             2016-11-12
high              2016-11-07
low               2016-11-03
volume            2016-12-31
EWMA26            2016-11-07
EWMA12            2016-11-07
EWMA9             2016-11-07
MACD              2017-12-17
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2016-11-07
Bollinger Lower   2016-11-07
Heiking_Close     2016-11-04
Heiking High      2016-11-07
Heiking Low       2016-11-03
Heiking Open      2016-11-08
log_MACD          2017-12-11
Variance12        2016-11-02
dtype: datetime64[ns]

open              2017-12-18
close             2017-12-17
high              2017-12-07
low               2017-12-17
volume            2017-03-10
EWMA26            2017-12-26
EWMA12            2017-12-20
EWMA9             2017-12-19
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2017-12-18
Bollinger Lower   2018-01-07
Heiking_Close     2017-12-17
Heiking High      2017-12-07
Heiking Low       2017-12-17
Heiking Open      2017-12-18
log_MACD          2018-02-05
Variance12        2017-12-11
dtype: datetime64[ns]

describe_dataset

open              2016-11-08
close             2016-11-08
high              2016-11-08
low               2017-07-12
volume            2016-11-05
EWMA26            2016-10-31
EWMA12            2016-10-31
EWMA9             2016-10-31
MACD              2017-12-17
Returns           2017-03-18
log_return        2017-03-18
Bollinger Upper   2016-11-01
Bollinger Lower   2016-11-03
Heiking_Close     2016-11-08
Heiking High      2016-11-08
Heiking Low       2017-07-12
Heiking Open      2016-11-09
log_MACD          2017-12-08
Variance12        2016-11-01
dtype: datetime64[ns]

open              2017-12-17
close             2017-12-16
high              2017-05-05
low               2017-12-16
volume            2017-10-10
EWMA26            2018-01-06
EWMA12            2017-12-20
EWMA9             2017-12-20
MACD              2018-02-06
Returns           2017-09-15
log_return        2017-09-15
Bollinger Upper   2017-12-17
Bollinger Lower   2018-01-06
Heiking_Close     2017-05-05
Heiking High      2017-05-05
Heiking Low       2017-12-16
Heiking Open      2017-12-18
log_MACD          2018-02-06
Variance12        2017-12-08
dtype: datetime64[ns]

describe_dataset

open              2017-09-30
close             2017-09-29
high              2017-09-30
low               2017-10-24
volume            2017-08-15
EWMA26            2017-10-01
EWMA12            2017-10-01
EWMA9             2017-10-01
MACD              2017-12-06
Returns           2017-12-07
log_return        2017-12-07
Bollinger Upper   2017-08-15
Bollinger Lower   2017-12-06
Heiking_Close     2017-09-30
Heiking High      2017-09-30
Heiking Low       2017-10-24
Heiking Open      2017-10-01
log_MACD          2017-12-06
Variance12        2017-08-15
dtype: datetime64[ns]

open              2017-12-07
close             2017-12-06
high              2017-12-06
low               2017-12-24
volume            2018-02-05
EWMA26            2017-12-19
EWMA12            2017-12-06
EWMA9             2017-12-06
MACD              2018-02-05
Returns           2017-12-06
log_return        2017-12-06
Bollinger Upper   2017-12-06
Bollinger Lower   2018-01-14
Heiking_Close     2017-12-07
Heiking High      2017-12-06
Heiking Low       2017-12-24
Heiking Open      2017-12-08
log_MACD          2018-02-05
Variance12        2017-12-06
dtype: datetime64[ns]

describe_dataset

open              2017-12-07
close             2017-11-27
high              2017-11-30
low               2017-11-06
volume            2017-07-23
EWMA26            2017-12-11
EWMA12            2017-12-11
EWMA9             2017-12-11
MACD              2018-01-14
Returns           2017-11-27
log_return        2017-11-27
Bollinger Upper   2017-12-11
Bollinger Lower   2017-11-30
Heiking_Close     2017-12-07
Heiking High      2017-11-30
Heiking Low       2017-11-06
Heiking Open      2017-12-08
log_MACD          2018-01-14
Variance12        2017-09-23
dtype: datetime64[ns]

open              2018-02-01
close             2018-01-31
high              2017-12-21
low               2018-01-31
volume            2017-12-07
EWMA26            2018-02-11
EWMA12            2018-02-04
EWMA9             2018-02-01
MACD              2017-11-03
Returns           2017-11-28
log_return        2017-11-28
Bollinger Upper   2018-01-31
Bollinger Lower   2018-02-11
Heiking_Close     2018-02-01
Heiking High      2017-12-21
Heiking Low       2018-01-31
Heiking Open      2018-02-01
log_MACD          2017-11-03
Variance12        2017-11-27
dtype: datetime64[ns]

describe_dataset

open              2017-07-16
close             2017-07-15
high              2017-07-16
low               2017-07-16
volume            2018-02-28
EWMA26            2017-07-30
EWMA12            2017-07-30
EWMA9             2017-07-17
MACD              2018-01-14
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2017-07-31
Bollinger Lower   2017-07-16
Heiking_Close     2017-07-16
Heiking High      2017-07-16
Heiking Low       2017-07-16
Heiking Open      2017-07-17
log_MACD          2017-12-20
Variance12        2017-11-06
dtype: datetime64[ns]

open              2018-01-15
close             2018-01-14
high              2018-01-10
low               2018-01-14
volume            2017-12-13
EWMA26            2018-01-19
EWMA12            2018-01-15
EWMA9             2018-01-15
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2018-01-15
Bollinger Lower   2018-01-31
Heiking_Close     2018-01-14
Heiking High      2018-01-10
Heiking Low       2018-01-14
Heiking Open      2018-01-16
log_MACD          2018-02-08
Variance12        2018-01-09
dtype: datetime64[ns]

describe_dataset

open              2017-09-15
close             2017-09-25
high              2017-09-14
low               2017-11-02
volume            2017-09-30
EWMA26            2017-11-05
EWMA12            2017-11-02
EWMA9             2017-09-25
MACD              2018-01-14
Returns           2017-09-25
log_return        2017-09-25
Bollinger Upper   2017-11-06
Bollinger Lower   2017-09-25
Heiking_Close     2017-11-02
Heiking High      2017-09-14
Heiking Low       2017-11-02
Heiking Open      2017-09-26
log_MACD          2017-12-20
Variance12        2017-08-13
dtype: datetime64[ns]

open              2018-01-15
close             2018-01-13
high              2018-01-10
low               2018-01-14
volume            2018-01-17
EWMA26            2018-01-31
EWMA12            2018-01-15
EWMA9             2018-01-15
MACD              2018-02-10
Returns           2017-09-26
log_return        2017-09-26
Bollinger Upper   2018-01-14
Bollinger Lower   2018-01-31
Heiking_Close     2018-01-10
Heiking High      2018-01-10
Heiking Low       2018-01-14
Heiking Open      2018-01-15
log_MACD          2018-02-10
Variance12        2018-01-13
dtype: datetime64[ns]

describe_dataset

open              2017-10-24
close             2017-11-06
high              2017-09-14
low               2017-10-24
volume            2017-08-19
EWMA26            2017-11-07
EWMA12            2017-11-06
EWMA9             2017-11-06
MACD              2017-12-19
Returns           2017-12-16
log_return        2017-12-16
Bollinger Upper   2017-08-17
Bollinger Lower   2017-12-15
Heiking_Close     2017-10-24
Heiking High      2017-09-14
Heiking Low       2017-10-24
Heiking Open      2017-10-25
log_MACD          2017-12-19
Variance12        2017-08-17
dtype: datetime64[ns]

open              2017-12-23
close             2017-12-15
high              2018-01-21
low               2017-12-23
volume            2018-02-15
EWMA26            2018-01-31
EWMA12            2018-01-14
EWMA9             2018-01-14
MACD              2018-02-08
Returns           2017-12-23
log_return        2017-12-23
Bollinger Upper   2017-12-24
Bollinger Lower   2018-01-31
Heiking_Close     2017-12-23
Heiking High      2018-01-21
Heiking Low       2017-12-23
Heiking Open      2017-12-24
log_MACD          2018-03-09
Variance12        2017-12-19
dtype: datetime64[ns]

describe_dataset

low               2018-02-16
volume            2013-08-18
amount            2013-08-18
avg_price         2013-07-09
open              2013-07-04
close             2013-07-03
high              2013-07-10
quantity          2013-08-18
EWMA26            2013-07-28
EWMA12            2013-07-11
EWMA9             2013-07-10
MACD              2017-12-18
Returns           2013-09-06
log_return        2013-09-06
Bollinger Upper   2013-07-28
Bollinger Lower   2013-07-09
Heiking_Close     2013-07-07
Heiking High      2013-07-10
Heiking Low       2018-02-16
Heiking Open      2013-07-08
log_MACD          2013-11-29
Variance12        2013-06-13
dtype: datetime64[ns]

low               2017-12-18
volume            2017-12-07
amount            2017-12-07
avg_price         2017-12-18
open              2017-12-19
close             2017-12-18
high              2017-12-17
quantity          2017-11-29
EWMA26            2018-01-08
EWMA12            2017-12-20
EWMA9             2017-12-20
MACD              2018-02-06
Returns           2013-11-18
log_return        2013-11-18
Bollinger Upper   2017-12-18
Bollinger Lower   2018-01-08
Heiking_Close     2017-12-18
Heiking High      2017-12-17
Heiking Low       2017-12-18
Heiking Open      2017-12-19
log_MACD          2018-02-06
Variance12        2017-12-18
dtype: datetime64[ns]

## Rescaling the data

We will rescale the data to the maximum closing price. The date will be 2017-12-18  witch is the date where the bitcoin has the global maximum value along the dataset.

In [16]:
rescaled_datasets=copy_all_datasets(datasets)

In [17]:
class Rescaler:
    def __init__(self, date_to_scale):
        self.date_to_scale=date_to_scale
        
    def rescale(self,dataset):
        closing_price_at_max=dataset.df.loc[self.date_to_scale]['close']
        column_exceptions=['volume','Returns','quantity']
        valid_colummns=[valid_column for valid_column in dataset.df.columns if valid_column not in column_exceptions]
        for colummn in valid_colummns:
            dataset.df[colummn]=dataset.df[colummn]/closing_price_at_max
        return dataset

max_date= datetime(2017,12,18)
rescaler=Rescaler(max_date)
all_datasets(rescaler.rescale,rescaled_datasets)

rescale

rescale

rescale

rescale

rescale

rescale

rescale

rescale

## Apply log to all fields 


Log transforms are useful when applied to skewed distributions as they tend to expand the values which fall in the range of lower magnitudes and tend to compress or reduce the values which fall in the range of higher ([Feature Engineering](https://towardsdatascience.com/understanding-feature-engineering-part-1-continuous-numeric-data-da4e47099a7b)).

In [18]:
log_datasets=copy_all_datasets(datasets) 
log_divided_close_datasets=copy_all_datasets(datasets) 

def log_transform(dataset):
    column_exceptions=['log_return', 'Returns','volume','log_MACD']
    valid_colummns=[valid_column for valid_column in dataset.df.columns if valid_column not in column_exceptions]
    for colummn in valid_colummns:
        dataset.df[colummn]=np.log(dataset.df[colummn])
    return dataset

def log_transform_divided_by_close(dataset):
    column_exceptions=['log_return', 'Returns','volume','log_MACD','close','Variance12']
    valid_colummns=[valid_column for valid_column in dataset.df.columns if valid_column not in column_exceptions]
    for colummn in valid_colummns:
        dataset.df[colummn]=np.log(dataset.df[colummn]/dataset.df['close'])
    return dataset


all_datasets(log_transform,log_datasets)
all_datasets(log_transform_divided_by_close,log_divided_close_datasets)

log_transform

/Users/JR/anaconda3/envs/pyfinance/lib/python3.6/site-packages/ipykernel_launcher.py:8: RuntimeWarning: divide by zero encountered in log

/Users/JR/anaconda3/envs/pyfinance/lib/python3.6/site-packages/ipykernel_launcher.py:8: RuntimeWarning: invalid value encountered in log

log_transform

log_transform

log_transform

log_transform

log_transform

log_transform

log_transform

log_transform_divided_by_close

/Users/JR/anaconda3/envs/pyfinance/lib/python3.6/site-packages/ipykernel_launcher.py:15: RuntimeWarning: divide by zero encountered in log
  from ipykernel import kernelapp as app
/Users/JR/anaconda3/envs/pyfinance/lib/python3.6/site-packages/ipykernel_launcher.py:15: RuntimeWarning: invalid value encountered in log
  from ipykernel import kernelapp as app

log_transform_divided_by_close

log_transform_divided_by_close

log_transform_divided_by_close

log_transform_divided_by_close

log_transform_divided_by_close

log_transform_divided_by_close

log_transform_divided_by_close

In [19]:
log_divided_close_datasets['btc_clp'].df.tail()

,open,close,high,low,volume,EWMA26,EWMA12,EWMA9,MACD,Returns,log_return,Bollinger Upper,Bollinger Lower,Heiking_Close,Heiking High,Heiking Low,Heiking Open,log_MACD,Variance12
datetime,,,,,,,,,,,,,,,,,,,
2018-03-07,0.08,"6,000,011.00",0.11,-0.07,76.05,0.06,0.07,0.07,nan,-0.06,-0.06,0.18,-0.06,0.03,0.11,-0.07,0.09,-0.00,"371,407.47"
2018-03-08,0.11,"5,479,560.00",0.14,-0.01,42.10,0.14,0.13,0.13,-4.79,-0.09,-0.09,0.28,-0.04,0.06,0.14,-0.01,0.13,0.01,"488,927.05"
2018-03-09,-0.07,"5,792,598.00",0.03,-0.13,28.90,0.08,0.07,0.06,-4.29,0.06,0.06,0.21,-0.10,-0.04,0.03,-0.13,-0.00,0.01,"483,683.25"
2018-03-10,0.05,"5,498,000.00",0.07,-0.03,21.64,0.12,0.10,0.09,-3.75,-0.05,-0.05,0.26,-0.08,0.02,0.07,-0.03,0.02,0.02,"516,139.53"
2018-03-11,-0.08,"5,929,988.95",0.01,-0.08,9.94,0.04,0.02,0.01,-3.80,0.08,0.08,0.17,-0.15,-0.04,0.01,-0.08,-0.05,0.02,"478,378.89"

In [20]:
all_datasets(describe_dataset,log_datasets)

describe_dataset

open              2016-11-04
close             2016-11-12
high              2016-11-07
low               2016-11-03
volume            2016-12-31
EWMA26            2016-11-07
EWMA12            2016-11-07
EWMA9             2016-11-07
MACD              2016-11-14
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2016-11-07
Bollinger Lower   2016-11-07
Heiking_Close     2016-11-04
Heiking High      2016-11-07
Heiking Low       2016-11-03
Heiking Open      2016-11-08
log_MACD          2017-12-11
Variance12        2016-11-02
dtype: datetime64[ns]

open              2017-12-18
close             2017-12-17
high              2017-12-07
low               2017-12-17
volume            2017-03-10
EWMA26            2017-12-26
EWMA12            2017-12-20
EWMA9             2017-12-19
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2017-12-18
Bollinger Lower   2018-01-07
Heiking_Close     2017-12-17
Heiking High      2017-12-07
Heiking Low       2017-12-17
Heiking Open      2017-12-18
log_MACD          2018-02-05
Variance12        2017-12-11
dtype: datetime64[ns]

describe_dataset

open              2016-11-08
close             2016-11-08
high              2016-11-08
low               2017-07-12
volume            2016-11-05
EWMA26            2016-10-31
EWMA12            2016-10-31
EWMA9             2016-10-31
MACD              2016-11-11
Returns           2017-03-18
log_return        2017-03-18
Bollinger Upper   2016-11-01
Bollinger Lower   2016-11-03
Heiking_Close     2016-11-08
Heiking High      2016-11-08
Heiking Low       2017-07-12
Heiking Open      2016-11-09
log_MACD          2017-12-08
Variance12        2016-11-01
dtype: datetime64[ns]

open              2017-12-17
close             2017-12-16
high              2017-05-05
low               2017-12-16
volume            2017-10-10
EWMA26            2018-01-06
EWMA12            2017-12-20
EWMA9             2017-12-20
MACD              2018-02-06
Returns           2017-09-15
log_return        2017-09-15
Bollinger Upper   2017-12-17
Bollinger Lower   2018-01-06
Heiking_Close     2017-05-05
Heiking High      2017-05-05
Heiking Low       2017-12-16
Heiking Open      2017-12-18
log_MACD          2018-02-06
Variance12        2017-12-08
dtype: datetime64[ns]

describe_dataset

open              2017-09-30
close             2017-09-29
high              2017-09-30
low               2017-10-24
volume            2017-08-15
EWMA26            2017-10-01
EWMA12            2017-10-01
EWMA9             2017-10-01
MACD              2017-08-20
Returns           2017-12-07
log_return        2017-12-07
Bollinger Upper   2017-08-15
Bollinger Lower   2017-12-23
Heiking_Close     2017-09-30
Heiking High      2017-09-30
Heiking Low       2017-10-24
Heiking Open      2017-10-01
log_MACD          2017-12-06
Variance12        2017-08-20
dtype: datetime64[ns]

open              2017-12-07
close             2017-12-06
high              2017-12-06
low               2017-12-24
volume            2018-02-05
EWMA26            2017-12-19
EWMA12            2017-12-06
EWMA9             2017-12-06
MACD              2018-02-05
Returns           2017-12-06
log_return        2017-12-06
Bollinger Upper   2017-12-06
Bollinger Lower   2018-01-14
Heiking_Close     2017-12-07
Heiking High      2017-12-06
Heiking Low       2017-12-24
Heiking Open      2017-12-08
log_MACD          2018-02-05
Variance12        2017-12-06
dtype: datetime64[ns]

describe_dataset

open              2017-12-07
close             2017-11-27
high              2017-11-30
low               2017-11-06
volume            2017-07-23
EWMA26            2017-12-11
EWMA12            2017-12-11
EWMA9             2017-12-11
MACD              2017-07-23
Returns           2017-11-27
log_return        2017-11-27
Bollinger Upper   2017-12-11
Bollinger Lower   2017-11-30
Heiking_Close     2017-12-07
Heiking High      2017-11-30
Heiking Low       2017-11-06
Heiking Open      2017-12-08
log_MACD          2018-01-14
Variance12        2017-09-23
dtype: datetime64[ns]

open              2018-02-01
close             2018-01-31
high              2017-12-21
low               2018-01-31
volume            2017-12-07
EWMA26            2018-02-11
EWMA12            2018-02-04
EWMA9             2018-02-01
MACD              2017-11-03
Returns           2017-11-28
log_return        2017-11-28
Bollinger Upper   2018-01-31
Bollinger Lower   2018-02-11
Heiking_Close     2018-02-01
Heiking High      2017-12-21
Heiking Low       2018-01-31
Heiking Open      2018-02-01
log_MACD          2017-11-03
Variance12        2017-11-27
dtype: datetime64[ns]

describe_dataset

open              2017-07-16
close             2017-07-15
high              2017-07-16
low               2017-07-16
volume            2018-02-28
EWMA26            2017-07-30
EWMA12            2017-07-30
EWMA9             2017-07-17
MACD              2017-08-04
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2017-07-31
Bollinger Lower   2017-07-16
Heiking_Close     2017-07-16
Heiking High      2017-07-16
Heiking Low       2017-07-16
Heiking Open      2017-07-17
log_MACD          2017-12-20
Variance12        2017-11-06
dtype: datetime64[ns]

open              2018-01-15
close             2018-01-14
high              2018-01-10
low               2018-01-14
volume            2017-12-13
EWMA26            2018-01-19
EWMA12            2018-01-15
EWMA9             2018-01-15
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2018-01-15
Bollinger Lower   2018-01-31
Heiking_Close     2018-01-14
Heiking High      2018-01-10
Heiking Low       2018-01-14
Heiking Open      2018-01-16
log_MACD          2018-02-08
Variance12        2018-01-09
dtype: datetime64[ns]

describe_dataset

open              2017-09-15
close             2017-09-25
high              2017-09-14
low               2017-11-02
volume            2017-09-30
EWMA26            2017-11-05
EWMA12            2017-11-02
EWMA9             2017-09-25
MACD              2017-10-19
Returns           2017-09-25
log_return        2017-09-25
Bollinger Upper   2017-11-06
Bollinger Lower   2017-09-25
Heiking_Close     2017-11-02
Heiking High      2017-09-14
Heiking Low       2017-11-02
Heiking Open      2017-09-26
log_MACD          2017-12-20
Variance12        2017-08-13
dtype: datetime64[ns]

open              2018-01-15
close             2018-01-13
high              2018-01-10
low               2018-01-14
volume            2018-01-17
EWMA26            2018-01-31
EWMA12            2018-01-15
EWMA9             2018-01-15
MACD              2018-02-10
Returns           2017-09-26
log_return        2017-09-26
Bollinger Upper   2018-01-14
Bollinger Lower   2018-01-31
Heiking_Close     2018-01-10
Heiking High      2018-01-10
Heiking Low       2018-01-14
Heiking Open      2018-01-15
log_MACD          2018-02-10
Variance12        2018-01-13
dtype: datetime64[ns]

describe_dataset

open              2017-10-24
close             2017-11-06
high              2017-09-14
low               2017-10-24
volume            2017-08-19
EWMA26            2017-11-07
EWMA12            2017-11-06
EWMA9             2017-11-06
MACD              2017-10-02
Returns           2017-12-16
log_return        2017-12-16
Bollinger Upper   2017-08-17
Bollinger Lower   2017-12-16
Heiking_Close     2017-10-24
Heiking High      2017-09-14
Heiking Low       2017-10-24
Heiking Open      2017-10-25
log_MACD          2017-12-19
Variance12        2017-08-17
dtype: datetime64[ns]

open              2017-12-23
close             2017-12-15
high              2018-01-21
low               2017-12-23
volume            2018-02-15
EWMA26            2018-01-31
EWMA12            2018-01-14
EWMA9             2018-01-14
MACD              2018-02-08
Returns           2017-12-23
log_return        2017-12-23
Bollinger Upper   2017-12-24
Bollinger Lower   2018-01-31
Heiking_Close     2017-12-23
Heiking High      2018-01-21
Heiking Low       2017-12-23
Heiking Open      2017-12-24
log_MACD          2018-03-09
Variance12        2017-12-19
dtype: datetime64[ns]

describe_dataset

low               2013-07-04
volume            2013-08-18
amount            2013-08-18
avg_price         2013-07-09
open              2013-07-04
close             2013-07-03
high              2013-07-10
quantity          2013-08-18
EWMA26            2013-07-28
EWMA12            2013-07-11
EWMA9             2013-07-10
MACD              2015-06-04
Returns           2013-09-06
log_return        2013-09-06
Bollinger Upper   2013-07-28
Bollinger Lower   2013-07-09
Heiking_Close     2013-07-07
Heiking High      2013-07-10
Heiking Low       2013-07-04
Heiking Open      2013-07-08
log_MACD          2013-11-29
Variance12        2013-06-13
dtype: datetime64[ns]

low               2017-12-18
volume            2017-12-07
amount            2017-12-07
avg_price         2017-12-18
open              2017-12-19
close             2017-12-18
high              2017-12-17
quantity          2017-11-29
EWMA26            2018-01-08
EWMA12            2017-12-20
EWMA9             2017-12-20
MACD              2018-02-06
Returns           2013-11-18
log_return        2013-11-18
Bollinger Upper   2017-12-18
Bollinger Lower   2018-01-08
Heiking_Close     2017-12-18
Heiking High      2017-12-17
Heiking Low       2017-12-18
Heiking Open      2017-12-19
log_MACD          2018-02-06
Variance12        2017-12-18
dtype: datetime64[ns]

In [21]:
all_datasets(describe_dataset,log_divided_close_datasets)

describe_dataset

open              2018-02-06
close             2016-11-12
high              2016-10-31
low               2017-12-22
volume            2016-12-31
EWMA26            2017-12-06
EWMA12            2017-12-06
EWMA9             2017-12-06
MACD              2016-11-14
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2016-12-21
Bollinger Lower   2017-12-07
Heiking_Close     2018-02-06
Heiking High      2016-10-31
Heiking Low       2017-12-22
Heiking Open      2017-12-06
log_MACD          2017-12-11
Variance12        2016-11-02
dtype: datetime64[ns]

open              2017-06-14
close             2017-12-17
high              2017-05-03
low               2016-11-09
volume            2017-03-10
EWMA26            2018-02-05
EWMA12            2018-02-05
EWMA9             2018-02-05
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2018-02-05
Bollinger Lower   2017-07-14
Heiking_Close     2017-06-14
Heiking High      2017-05-03
Heiking Low       2016-11-09
Heiking Open      2017-12-21
log_MACD          2018-02-05
Variance12        2017-12-11
dtype: datetime64[ns]

describe_dataset

open              2017-09-15
close             2016-11-08
high              2016-10-31
low               2017-07-12
volume            2016-11-05
EWMA26            2017-05-24
EWMA12            2017-05-24
EWMA9             2017-05-24
MACD              2018-01-11
Returns           2017-03-18
log_return        2017-03-18
Bollinger Upper   2016-12-23
Bollinger Lower   2017-05-24
Heiking_Close     2017-07-12
Heiking High      2016-10-31
Heiking Low       2017-07-12
Heiking Open      2017-05-24
log_MACD          2017-12-08
Variance12        2016-11-01
dtype: datetime64[ns]

open              2017-01-12
close             2017-12-16
high              2017-05-05
low               2016-11-01
volume            2017-10-10
EWMA26            2018-02-05
EWMA12            2018-02-05
EWMA9             2018-02-05
MACD              2018-02-05
Returns           2017-09-15
log_return        2017-09-15
Bollinger Upper   2018-02-05
Bollinger Lower   2016-11-01
Heiking_Close     2017-05-05
Heiking High      2017-05-05
Heiking Low       2016-11-01
Heiking Open      2018-02-05
log_MACD          2018-02-06
Variance12        2017-12-08
dtype: datetime64[ns]

describe_dataset

open              2017-12-06
close             2017-09-29
high              2017-08-15
low               2017-10-24
volume            2017-08-15
EWMA26            2017-12-06
EWMA12            2017-12-06
EWMA9             2017-12-06
MACD              2017-08-20
Returns           2017-12-07
log_return        2017-12-07
Bollinger Upper   2017-12-06
Bollinger Lower   2017-12-23
Heiking_Close     2017-12-06
Heiking High      2017-08-15
Heiking Low       2017-10-24
Heiking Open      2017-12-06
log_MACD          2017-12-06
Variance12        2017-08-15
dtype: datetime64[ns]

open              2017-12-07
close             2017-12-06
high              2017-12-07
low               2017-08-15
volume            2018-02-05
EWMA26            2018-02-05
EWMA12            2017-11-12
EWMA9             2017-11-12
MACD              2018-02-05
Returns           2017-12-06
log_return        2017-12-06
Bollinger Upper   2017-12-07
Bollinger Lower   2017-08-15
Heiking_Close     2017-12-07
Heiking High      2017-12-07
Heiking Low       2017-08-15
Heiking Open      2017-12-08
log_MACD          2018-02-05
Variance12        2017-12-06
dtype: datetime64[ns]

describe_dataset

open              2017-10-26
close             2017-11-27
high              2017-07-14
low               2017-11-06
volume            2017-07-23
EWMA26            2018-01-09
EWMA12            2017-12-13
EWMA9             2017-12-13
MACD              2017-07-23
Returns           2017-11-27
log_return        2017-11-27
Bollinger Upper   2017-08-27
Bollinger Lower   2017-12-01
Heiking_Close     2017-11-06
Heiking High      2017-07-14
Heiking Low       2017-11-06
Heiking Open      2017-11-28
log_MACD          2018-01-14
Variance12        2017-09-23
dtype: datetime64[ns]

open              2017-11-27
close             2018-01-31
high              2017-11-27
low               2017-07-14
volume            2017-12-07
EWMA26            2017-11-27
EWMA12            2017-11-27
EWMA9             2017-11-27
MACD              2017-11-27
Returns           2017-11-28
log_return        2017-11-28
Bollinger Upper   2017-11-27
Bollinger Lower   2017-11-27
Heiking_Close     2017-11-27
Heiking High      2017-11-27
Heiking Low       2017-07-14
Heiking Open      2017-11-27
log_MACD          2017-11-03
Variance12        2017-11-27
dtype: datetime64[ns]

describe_dataset

open              2018-02-06
close             2017-07-15
high              2017-07-11
low               2017-12-22
volume            2018-02-28
EWMA26            2017-12-13
EWMA12            2017-12-13
EWMA9             2017-12-13
MACD              2017-08-04
Returns           2017-12-21
log_return        2017-12-21
Bollinger Upper   2017-12-12
Bollinger Lower   2017-12-13
Heiking_Close     2018-02-06
Heiking High      2017-07-11
Heiking Low       2017-12-22
Heiking Open      2017-07-18
log_MACD          2017-12-20
Variance12        2017-11-06
dtype: datetime64[ns]

open              2017-12-21
close             2018-01-14
high              2017-12-21
low               2017-07-03
volume            2017-12-13
EWMA26            2018-02-05
EWMA12            2018-02-05
EWMA9             2018-02-05
MACD              2018-02-05
Returns           2018-02-06
log_return        2018-02-06
Bollinger Upper   2018-02-05
Bollinger Lower   2017-11-01
Heiking_Close     2018-02-01
Heiking High      2017-12-21
Heiking Low       2017-07-03
Heiking Open      2018-01-16
log_MACD          2018-02-08
Variance12        2018-01-09
dtype: datetime64[ns]

describe_dataset

open              2018-01-17
close             2017-09-25
high              2017-08-15
low               2017-11-02
volume            2017-09-30
EWMA26            2017-12-13
EWMA12            2017-12-13
EWMA9             2017-12-13
MACD              2017-10-19
Returns           2017-09-25
log_return        2017-09-25
Bollinger Upper   2017-12-12
Bollinger Lower   2017-12-13
Heiking_Close     2017-10-11
Heiking High      2017-08-15
Heiking Low       2017-11-02
Heiking Open      2017-12-13
log_MACD          2017-12-20
Variance12        2017-08-13
dtype: datetime64[ns]

open              2017-09-25
close             2018-01-13
high              2017-08-29
low               2017-08-11
volume            2018-01-17
EWMA26            2018-02-05
EWMA12            2018-02-05
EWMA9             2018-02-05
MACD              2017-09-25
Returns           2017-09-26
log_return        2017-09-26
Bollinger Upper   2018-02-05
Bollinger Lower   2017-10-26
Heiking_Close     2017-08-29
Heiking High      2017-08-29
Heiking Low       2017-08-11
Heiking Open      2018-02-05
log_MACD          2018-02-10
Variance12        2018-01-13
dtype: datetime64[ns]

describe_dataset

open              2017-10-24
close             2017-11-06
high              2017-08-17
low               2017-10-24
volume            2017-08-19
EWMA26            2017-12-15
EWMA12            2017-12-15
EWMA9             2017-12-15
MACD              2017-10-02
Returns           2017-12-16
log_return        2017-12-16
Bollinger Upper   2017-12-15
Bollinger Lower   2017-12-16
Heiking_Close     2017-10-24
Heiking High      2017-08-17
Heiking Low       2017-10-24
Heiking Open      2017-12-23
log_MACD          2017-12-19
Variance12        2017-08-17
dtype: datetime64[ns]

open              2017-12-21
close             2017-12-15
high              2017-12-21
low               2017-08-16
volume            2018-02-15
EWMA26            2018-02-05
EWMA12            2018-02-05
EWMA9             2018-02-05
MACD              2018-02-05
Returns           2017-12-23
log_return        2017-12-23
Bollinger Upper   2017-12-22
Bollinger Lower   2017-08-17
Heiking_Close     2017-12-21
Heiking High      2017-12-21
Heiking Low       2017-08-16
Heiking Open      2017-12-25
log_MACD          2018-03-09
Variance12        2017-12-19
dtype: datetime64[ns]

describe_dataset

low               2017-05-25
volume            2013-08-18
amount            2013-10-20
avg_price         2013-11-27
open              2013-11-18
close             2013-07-03
high              2013-06-13
quantity          2013-08-18
EWMA26            2013-11-18
EWMA12            2013-11-18
EWMA9             2013-11-18
MACD              2015-06-04
Returns           2013-09-06
log_return        2013-09-06
Bollinger Upper   2016-05-28
Bollinger Lower   2013-11-18
Heiking_Close     2018-02-16
Heiking High      2013-06-13
Heiking Low       2017-05-25
Heiking Open      2013-11-18
log_MACD          2013-11-29
Variance12        2013-06-13
dtype: datetime64[ns]

low               2013-06-15
volume            2017-12-07
amount            2015-01-14
avg_price         2013-09-06
open              2013-09-06
close             2017-12-18
high              2013-10-19
quantity          2013-07-05
EWMA26            2018-02-05
EWMA12            2013-12-18
EWMA9             2013-12-07
MACD              2018-02-05
Returns           2013-11-18
log_return        2013-11-18
Bollinger Upper   2013-12-18
Bollinger Lower   2014-08-14
Heiking_Close     2013-12-07
Heiking High      2013-10-19
Heiking Low       2013-06-15
Heiking Open      2013-12-07
log_MACD          2018-02-06
Variance12        2017-12-18
dtype: datetime64[ns]

### Save Data for Datasets

Save the data in objects to be consumed later.

In [22]:

def drop_the_first_row(dataset):
    dataset.df.drop(dataset.df.index[:1], inplace=True)
    return dataset

all_datasets(drop_the_first_row,rescaled_datasets)    
all_datasets(drop_the_first_row,datasets)    
all_datasets(drop_the_first_row,log_datasets)    
all_datasets(drop_the_first_row,log_divided_close_datasets) 

def save_datasets(datasets,filename):
    with open(filename, 'wb') as output:  # Overwrites any existing file.
        pickle.dump(datasets, output, pickle.HIGHEST_PROTOCOL)
    
save_datasets(rescaled_datasets, 'datasets/rescaled_datasets.pkl')
save_datasets(datasets, 'datasets/datasets.pkl')
save_datasets(log_datasets, 'datasets/log_datasets.pkl')
save_datasets(log_divided_close_datasets, 'datasets/log_divided_close_datasets.pkl')

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

drop_the_first_row

NameError: name 'score_clean_close' is not defined